*:root{
    --mainBg: #15202b;
    --textColor: #cccccc;
    --formColor: #ccc;

    --divBg: #1a2836;
    --boxShadow: 10px 10px 40px #080c0f;
    
    --mainBorder: 2px solid #111921;
    --themeDotBorder: #fff;
}

::placeholder{
    color: #949494;
}