*:root{
    --mainBg: #4c5544;
    --textColor: #b4b4b4;
    --formColor: #b4b4b4;

    --divBg: #555f4c;
    --boxShadow: 10px 10px 20px #30352d;
    --boxHoverShadow: 5px 5px 20px #b4b4b4;
    
    --mainBorder: 2px solid #3e4637;
<<<<<<< HEAD
=======
    --themeDotBorder: #fff;
>>>>>>> 21287817f2673958f139c24142a27237f849e08a
}

::placeholder{
    color: #aaa;
}