*:root{
    --mainBg: #46344E;
    --textColor: #b4b4b4;
    --formColor: #b4b4b4;

    --divBg: #4e3a57;
    --boxShadow: 10px 10px 20px #231b27;
    --boxHoverShadow: 5px 5px 20px #b4b4b4;
    
    --mainBorder: 2px solid #36283d;
<<<<<<< HEAD
=======
    --themeDotBorder: #fff;
>>>>>>> 21287817f2673958f139c24142a27237f849e08a
}

::placeholder{
    color: #aaaaaa;
}