*::selection{
    background-color: var(--textColor);
    color: var(--mainBg);
}

*:root{
    --mainBg: #232323;
    --textColor: #ababab;
    --formColor: #fff;

    --divBg: #242424;
    --boxShadow: 10px 10px 40px #0f0f0f;
    
    --mainBorder: 1px solid #808080;
    --themeDotBorder:#fff;
}

html {
    scroll-behavior: smooth;   
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--mainBg);
    color: var(--textColor);
}

/************ GLOBAL STYLES ************/
a {
    text-decoration: none;
    color: var(--textColor);
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 70px;
    margin: 0;
}

h2 {
    font-size: 50px;
    margin-bottom: 0;
}

h3 {
    font-size: 20px;
    margin-top: 30px;
}

p {
    margin: 0;
    font-size: 30px;
}

.button{
    border-radius: 5px;
    border: 1px solid var(--textColor);
    color: var(--textColor);
    background: transparent;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    padding: 6px 15px;
    transition: all 0.3s linear;
}

.button:hover{
    background: var(--textColor);
    color: var(--mainBg);
}
/************ END OF GLOBAL STYLES ************/

/************ ARROW UP BUTTON ************/
#arrow-up-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 50px;
    cursor: grab;
    padding: 20px;
    border-radius: 10px;
    background: transparent;
    color: var(--textColor);
    border: 1px solid var(--textColor);
}

#arrow-up-button:hover {
    background: var(--textColor);
    color: var(--mainBg);
}
/************ END OF ARROW UP BUTTON ************/

/************ NAVIGATION ************/
#navbar {
    height: 80px;
    width: 100%;
    position: absolute;
}

#navbar ul {
    float: right;
    margin-right: 30px;
}

#navbar ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

#navbar ul li a {
    color: var(--textColor);
    font-size: 26px;
    font-weight: bold;
    padding: 10px 13px;
    border-radius: 10px;
}

#navbar ul li a:hover {
    color: var(--textColor);
    text-shadow: 4px 2px 6px var(--textColor);
}
/************ END OF NAVIGATION ************/

/************ HERO SECTION ************/
#hero-section {
    height: 100vh;
    font-size: 40px;
    border-bottom: var(--mainBorder);
}

#hero-container {
    display: flex;
    height: 120%;
    justify-content: space-between;
    align-items: center;
}

#hero-content {
    margin-left: 80px;
    margin-bottom: 200px;
}

#hero-buttons {
    display: flex; 
    margin-top: 10px;
}

#theme-options-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.theme-dot {
    height: 30px;
    width: 30px;
	background: #000;
	border-radius: 50%;
	margin: 5px;
	border:2px solid var(--themeDotBorder);
	cursor: pointer;
}

.theme-dot:hover{
	border-width: 5px;
	box-shadow: 1px 10px 74px 8px rgb(255, 255, 255);
    -webkit-box-shadow: 1px 10px 74px 8px rgb(255, 255, 255);
    -moz-box-shadow: 1px 10px 74px 8px rgb(255, 255, 255);
}

#dark-mode{
    background: #232323;
}

#blue-mode{
	background: #192734;
}

#green-mode{
	background: #4c5544;
}

#purple-mode{
	background: #7E4C74;
}

#light-mode{
    background: #cccccc;
}
/************ END OF HERO SECTION ************/

/************ ABOUT SECTION ************/
#about-me {
    display: flex;
    justify-content: space-around;
    padding: 20px 80px 30px 80px;
}

#about-description {
    margin-top: 15px;
    text-align: justify;
}

#about-me .button {
    margin-top: 15px;
    position: relative;
    display: inline-block;
}

#profile {
    display: flex;
    align-items: center;
}

#profile-picture {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-left: 80px;
}

#hobbies-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 40px 0 40px;
    margin-top: 10px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 30px;
}

.card {
    width: 300px;
    height: 300px;
    margin-bottom: 100px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background: var(--divBg);
    box-shadow: var(--boxShadow);
}

.card-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}
/************ END OF ABOUT SECTION ************/

/************ SKILLS SECTION ************/
#skills {
    padding-top: 7px;
    width: 70%;
    margin: auto;
}

#skills-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

#skills h2 {
    text-align: center;
}
/************ END OF SKILLS SECTION ************/

/************ PROJECTS SECTION ************/
#projects {
    margin: auto; 
    width: 90%;
}

#project-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 40px 0 40px;
    margin-top: 10px;
}

#card-project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 30px;
}

.card-project {
    width: 30%;
    height: 500px;
    margin-bottom: 100px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background: var(--divBg);
    box-shadow: var(--boxShadow);
}

.card-project h3{
    margin-bottom: 10px;
    margin-top: 5px;
    transition: transform .2s;
}

.card-project h3:hover {
    transform: scale(1.2);
}

.card-project p{
    font-size: 14px;
    text-align: justify;
    margin: 0 20px;
}

.project-gif {
    margin-top: 25px;
    height: 70%; 
    width: 80%;
    border-radius: 10px; 
}
/************ END OF PROJECTS SECTION ************/

/************ CONTACT SECTION ************/
#contact {
    margin: auto;
    max-width: 30%;
    border-radius: 10px;
    background: var(--divBg);
    box-shadow: var(--boxShadow);
}

#contact-div {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
}

#contact-div h2 {
    margin-top: 0;
}

#error {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 3px 0;
    border-radius: 10px;
}

#form {
    align-items: center;
}

#form div {
    text-align: center;
}

#form i {
    position: absolute;
    font-size: 30px;
    margin-left: 9px;
}

.icon {
    padding: 10px 10px 10px 0;
    color: var(--textColor);
    min-width: 45px;
    font-weight: 100;
}

input, textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 86%;
    padding: 10px 10px 8px 60px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: var(--mainBorder);
    background: transparent;
    color: var(--formColor);
    resize: none;
    outline: none;
}

#form .button {
    padding: 10px 15px;
    border-radius: 10px;
}

/************ END OF CONTACT SECTION ************/

/************ FOOTER ************/
footer {
    background-color: transparent;
    color: var(--textColor);
    text-align: center;
    margin-top: 30px;
    border-top: var(--mainBorder);
}

footer p {
    font-size: 50px;
    font-weight: bold;
    padding-top: 5px;
    margin-bottom: 0;
}

footer div {
    margin: 0;
    padding-bottom: 10px;
}

.footer {
    margin: 0 10px;
    font-size: 50px;
    color: var(--textColor);
}

.fab:hover {
    color: var(--textColor);
    text-shadow: 4px 1px 6px var(--textColor);
}
/************ END OF FOOTER ************/

/************ MEDIA QUERIES ************/

@media only screen and (max-width: 1401px) {

    body {
        height: 100%;
    }

    #hero-container {
        height: 100%;
    }

    #about-me h2 {
        text-align: center;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 40%;
        margin-right: 25px;
        margin-left: 25px;
    }

    #skills, #projects {
        width: 100%;
    }

    .card-project {
        width: 45%;
        height: 470px;
    }

    .project-gif {
        height: 300px; 
        width: 300px;
    }

    #form input, #form textarea { 
        width: 86%;
    }

}

@media only screen and (max-width: 1502px) {

    #contact {
        max-width: 60%;
    }

    ul {
        display: none;
    }

}

/************ END OF MEDIA QUERIES ************/